{% extends 'base.html' %} 

{% block title %}Add Photo{% endblock title %} 


{%block content %}

<body class="m-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <a href="{% url 'gallery'%}" class="btn btn-dark my-3">Go back</a>
        <div class="card">
          <form action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="m-3">
                <label class="form-label">Description</label>
                <input required name="description" type="text" placeholder="Enter a description" class="form-control">
            </div>
            

            <div class="m-3">
                <label class="form-label">Category</label>
                <select name="category" class="form-select">
                    <option value="none" selected>Select a category</option>
                    {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="m-3">
                <label for="">Create a new category</label>
                <input name="category_new" type="text" placeholder="Enter category name" class="form-control">
            </div>


            <div class="m-3">
                <label class="form-label">Upload image</label>
                <input required name="image" class="form-control form-control-sm" type="file">
            </div>

            <div class="m-3 mt-4">
              <button type="submit" class="btn btn-primary btn-small mr-2">Submit</button>
              <button type="submit" class="btn btn-primary btn-small"
                onclick="window.location='{% url 'gallery' %}' ; return false;">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
