{% extends 'base.html' %}

{% load static %}

{% block head %}
<style>
    .image-thumbnail {
        height: 200px;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    #del{
        border: none;
        margin: 0;
        padding-top: 10px;
    }
</style>
{% endblock head %}

{% block content %}

<body class="m-5">
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-header" style="background-color: dimgrey; color: floralwhite;">
                        Categories
                    </div>

                    <div class="card-body">
                    
                        <ul class="list-group list-group-horizontal">
                            {% if category_name == None %}
                                <a class="list-group-item m-1 flex-fill" style="background-color:mistyrose ;" href="{% url 'gallery'%}">
                                    All
                                </a>
                            {% else %}
                                <a class="list-group-item m-1 flex-fill" href="{% url 'gallery'%}">
                                    All
                                </a>
                            {% endif %}
                        </ul>

                        
                            {% for category in categories %}
                                {% if category.name == category_name %}
                                <ul class="list-group list-group-horizontal-sm">
                                    <a class="list-group-item m-1 flex-fill"
                                    style="background-color: mistyrose;" 
                                    href="{% url 'gallery'%}?category={{category.name}}">
                                        {{category.name}}
                                    </a>
                                    <form method="POST" action="{% url 'delete_cat' %}">
                                        {% csrf_token %}
                                        <li id="del" class="list-group-item mt-1 flex-fill">
                                            <input type="submit" name="pk" value=""
                                            style="background-image: url('{%static 'photos/images/delete.png'%}');"/>
                                        </li>
                                    </form>
                                </ul>
                                {% else %}
                                <ul class="list-group list-group-horizontal-sm">
                                    <a class="list-group-item m-1 flex-fill" 
                                    href="{% url 'gallery'%}?category={{category.name}}">
                                        {{category.name}}
                                    </a>
                                    <form method="POST" action="{% url 'delete_cat' %}">
                                        {% csrf_token %}
                                        <li id="del" class="list-group-item mt-1 flex-fill">
                                            <input type="submit" name="pk" value=""
                                            style="background-image: url('{%static 'photos/images/delete.png'%}');"/>
                                        </li>

                                    </form>
                                </ul>
                                {% endif %}
                                    
                            {% endfor %}
                        
                    </div>   
                </div>
                <a href="{% url 'add' %}" class="btn btn-dark btn-sm m-1 mt-3">
                    Add photo
                </a> 
            </div>


            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card mb-3 p-2">
                            <img src="{{photo.image.url}}" class="image-thumbnail" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{photo.description}}</p>
                            </div>
                            <span>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm">View</a>
                            <a href="{% url 'delete' photo.id %}" class="btn btn-outline-dark btn-sm">Delete</a>
                            </span>
                        </div>
                    </div>
                    {% empty %}
                    <h3 style="font-family: Arial, Helvetica, sans-serif;">No photos</h3>
                    <img src="https://media.giphy.com/media/6uGhT1O4sxpi8/giphy.gif" class="img-fluid m-4">
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock content %}
