{% extends 'base.html' %}

{% block head %}
<style>
    .image-thumbnail {
        height: 200px;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    .active{

    }
</style>
{% endblock head %}

{% block content %}

<body class="m-5">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-header" style="background-color: dimgrey; color: floralwhite;">
                        Categories
                    </div>

                    <div class="card-body">
                        <ul class="list-group">
                            {% if category_name == None %}
                                <a class="list-group-item m-1" style="background-color:mistyrose ;" href="{% url 'gallery'%}">
                                    All
                                </a>
                            {% else %}
                                <a class="list-group-item m-1" href="{% url 'gallery'%}">
                                    All
                                </a>
                            {% endif %}

                            {% for category in categories %}
                                {% if category.name == category_name %}
                                    
                                    <a class="list-group-item m-1"
                                    style="background-color: mistyrose;" 
                                    href="{% url 'gallery'%}?category={{category.name}}">
                                        {{category.name}}
                                    </a>

                                {% else %}
                                    <a class="list-group-item m-1" 
                                    href="{% url 'gallery'%}?category={{category.name}}">
                                        {{category.name}}
                                    </a>
                                {% endif %}
                                    
                            {% endfor %}
                        </ul>
                    </div>   
                </div>
                <a href="{% url 'add' %}" class="btn btn-dark btn-sm m-1 mt-3">
                                Add photo
                        </a> 
            </div>


            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card mb-3 p-2">
                            <img src="{{photo.image.url}}" class="image-thumbnail" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{photo.description}}</p>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>
                    {% empty %}
                    <h3 style="font-family: Arial, Helvetica, sans-serif;">No photos</h3>
                    <img src="https://media.giphy.com/media/6uGhT1O4sxpi8/giphy.gif" class="img-fluid m-4">
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock content %}
