{% extends 'base.html' %}

{% block title %}Photo{% endblock title %}

{% block content %}
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'gallery'%}" class="btn btn-dark my-3">Go back</a>
                <div style="height: 70vh;">
                    <img style="max-width: 100%; max-height: 100%;" 
                        src="{{ photo.image.url }}">
                    <div class="card my-2">
                        <div class="card-body">
                            "{{ photo.description }}"
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
{% endblock content %}
</html>